<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\aboutcss.css" />
</head>
<body background="static\imgs\Blue.jpg">
 <h1>About The System</h1>
 <p>In the system you need to put IP Address of a camera and Whatsapp Number in which you want to sent the messages and images.You just need to fill required field and press button 'Start Security'.System will inform you through whatsapp if any momement detected front of camera.It will send the images and message.It will send 3 images at a time.On the other hand all the images will store in the local storage as well.</p>
 <button class="btn" 
 onclick="window.location.href = 'templates\home\index.html';">Home Page
 </button>
</body>
</html>